.visualblend-icon {
  position: undefined;
  width: 4rem;
  height: 1.88rem;
  object-fit: cover;
  margin-top: 2.13rem;
  margin-left: 1px;
}
.visual1 {
  margin: 0;
}
.visual-blend-txt-container1 {
  line-break: anywhere;
  width: 100%;
}
.signup1,
.visual-blend1 {
  letter-spacing: -0.09px;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
}
.visual-blend1 {
  position: absolute;
  top: 0;
  left: 0.5rem;
  width: 9.81rem;
  height: 2.63rem;
}
.signup1 {
  position: relative;
  width: 17rem;
  height: 1.94rem;
  flex-shrink: 0;
}
.frame3 {
  position: absolute;
  top: 6.25rem;
  left: 0;
  width: 23.31rem;
  height: 2.94rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0.38rem 0;
  box-sizing: border-box;
  font-size: var(--font-size-29xl);
  color: var(--color-crimson);
}
.username2 {
  position: relative;
  letter-spacing: -0.09px;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  width: 31.38rem;
  height: 2.13rem;
  flex-shrink: 0;
}
.frame4 {
  position: absolute;
  top: 12.31rem;
  left: 0;
  width: 38.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.usernameinput {
  position: relative;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-crimson);
  box-sizing: border-box;
  width: 49.25rem;
  height: 3.94rem;
}
.frame5,
.frame6 {
  position: absolute;
  top: 14.69rem;
  left: 0;
  width: 56.13rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.frame6 {
  top: 20.19rem;
  width: 38.25rem;
}
.passwordinput {
  position: relative;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-crimson);
  box-sizing: border-box;
  width: 49.25rem;
  height: 3.88rem;
}
.frame7 {
  position: absolute;
  top: 22.88rem;
  left: 0;
  width: 56.13rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.police-id {
  position: relative;
  letter-spacing: -0.09px;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  width: 31.38rem;
  height: 2.06rem;
  flex-shrink: 0;
}
.frame8 {
  position: absolute;
  top: 28.81rem;
  left: 0;
  width: 38.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.policeidinput {
  position: relative;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-crimson);
  box-sizing: border-box;
  width: 49.25rem;
  height: 4rem;
}
.aadharinput {
  position: relative;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-crimson);
  box-sizing: border-box;
  width: 49.25rem;
  height: 4rem;
}
.frame10,
.frame11,
.frame9 {
  position: absolute;
  top: 31.56rem;
  left: 0;
  width: 56.13rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.frame10,
.frame11 {
  top: 37.31rem;
  width: 38.5rem;
}
.frame11 {
  top: 40.13rem;
  width: 56.13rem;
}
.branch-of-service {
  position: relative;
  letter-spacing: -0.09px;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  width: 31.38rem;
  height: 2rem;
  flex-shrink: 0;
}
.branchinput {
  position: relative;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-crimson);
  box-sizing: border-box;
  width: 49.25rem;
  height: 4rem;
}
.frame12,
.sign-up1 {
  display: flex;
  justify-content: center;
}
.frame12 {
  position: absolute;
  top: 46.06rem;
  left: 0;
  width: 38.25rem;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
}
.sign-up1 {
  position: relative;
  letter-spacing: -0.09px;
  line-height: 1.5rem;
  font-weight: 600;
  align-items: center;
  color: white;
  background-color: var(--color-black);
  width: 44.39rem;
  height: 4.64rem;
  flex-shrink: 0;
  border:none;
}
.frame13,
.frame14,
.signupbutton {
  display: flex;
  flex-direction: column;
}
.signupbutton {
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  width: 50.38rem;
  height: 4.79rem;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 2.69rem;
  box-sizing: border-box;
}
.frame13,
.frame14 {
  position: absolute;
  left: 0;
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
}
.frame13 {
  top: 55.89rem;
  width: 56.69rem;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.frame14 {
  top: 48.88rem;
  width: 56.13rem;
}
.frame,
.frame1,
.frame2 {
  overflow: hidden;
  flex-shrink: 0;
}
.frame2 {
  position: relative;
  width: 58rem;
  height: 60.69rem;
}
.frame,
.frame1 {
  width: 57.81rem;
  height: 62.44rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.frame {
  width: 58.88rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.31rem;
}
.backgroundicon,
.redbackground-icon {
  position: relative;
  width: 46.38rem;
  height: 67.5rem;
  object-fit: cover;
}
.backgroundicon {
  width: 35.88rem;
  height: 37.69rem;
  margin-top: -37.69rem;
}
.frame15,
.signup {
  height: 67.5rem;
  display: flex;
}
.frame15 {
  width: 46.38rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.signup {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13.63rem;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-mada);
}
